<!-- cart.component.html -->
<head>
  <!-- ... other meta tags and stylesheets ... -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
  <style>
    .mt-3 {
      margin-top: 0.75rem; /* You can adjust this value as needed */
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

<!-- <div class="container cart-page-header">
  <div class="header-content">
    <div class="logo">
      <img src="assets\Shop Smartly Logo Symbol 2400x1800.jpg" alt="Logo" />
    </div>
    <h1 class="h2">SmartCart</h1>
  </div>
</div> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Cart</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <style>
    body {
      background-color: #F6F4EB;
      font-size: 16px;
    }
    .checkout-icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #F6F4EB;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      margin: 0 auto;
    }
    .h4 {
      font-size: 24px;
    }
    .btn {
      font-size: 18px;
    }
    .add-more-button {
      text-align: center;
      margin-top: 20px;
    }
  </style>
</head>
<body>
<div class="container cart-box-main">
  <div class="row">
    <div class="col-lg-12">
      <div class="table-main table-responsive">
        <p *ngIf="check" class="text-center">
          <i class="text-info font-weight-bold text-center"></i>
          You don't have any items in your cart
        </p>
        <table *ngIf="grandTotal" class="table">
          <thead>
            <tr>
              <th>Images</th>
              <th>Product Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cartItem of shoppingCart.cartItems">
              <td class="thumbnail-img">
                <a href="#">
                  <img class="img-fluid" [src]="cartItem.product.image" alt="" />
                </a>
              </td>
              <td class="name-pr">
                <p>{{ cartItem.product.name }}</p>
              </td>
              <td class="price-pr">
                <p>{{ '$' + cartItem.unitPrice }}</p>
              </td>
              <td class="quantity-box">
                <mat-form-field>
                  <input
                    matInput
                    type="number"
                    name="quantity"
                    [(ngModel)]="cartItem.quantity"
                    size="4"
                    min="0"
                    step="1"
                    class="c-input-text qty text"
                  />
                </mat-form-field>
              </td>
              <td class="total-pr">
                <p>{{ '$' + cartItem.unitPrice * cartItem.quantity }}</p>
              </td>
              <td>
                <button
                  mat-button
                  (click)="deleteCartItem(cartItem)"
                  title="Delete"
                  class="btn btn-danger"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mt-3">

  <div class="d-flex justify-content-center mt-3">
    <button
      mat-button
      title="Add More Products"
      class="btn btn-danger"
    >
      Add More Products
    </button>
  </div>
  


<div class="mt-3"></div>
<div class="container my-5" *ngIf="grandTotal">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-8 col-md-7 col-sm-12">
  
      <div class="container my-5" *ngIf="grandTotal">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-lg-10 col-md-9 col-sm-19">
            
        
                <h2 class="h4 text-center">Checkout Summary</h2>
                <div class="checkout-details">
                  <div class="detail d-flex justify-content-between">
                    <span>Sub Total</span>
                    <span>{{ '$' + grandTotal }}</span>
                  </div>
                  <div class="detail d-flex justify-content-between">
                    <span>Tax</span>
                    <span>$2</span>
                  </div>
                  <div class="detail d-flex justify-content-between">
                    <span>Shipping Cost</span>
                    <span>Free</span>
                  </div>
                  <hr />
                  <div class="detail d-flex justify-content-between total">
                    <span>Grand Total</span>
                    <span>{{ '$' + (grandTotal + 2) }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="d-flex justify-content-center mt-3">
          <button (click)="payNow()" class="btn btn-primary btn-green">
            <a mat-button color="primary" class="d-flex align-items-center justify-content-center" routerLink="/checkout">
              <i class="bi bi-cart-fill me-1"></i>
              Proceed to Checkout
            </a>
          </button>
        </div>
      </div>
      

  
  


