<!-- cart-page.component.html -->
<div class="container cart-box-main">
  <div class="row">
    <div class="col-lg-12">
      <div class="table-main table-responsive">
        <p *ngIf="cartList.length === 0" class="text-center">
          <i class="text-info font-weight-bold text-center"></i>
          You don't have any items in your cart
        </p>
        <table *ngIf="cartList.length > 0" class="table">
          <!-- Table header -->
          <thead>
            <tr>
              <th>Images</th>
              <th>Product Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <!-- Table body with ngFor loop -->
          <tbody>
            <tr *ngFor="let cartItem of cartList">
              <td class="thumbnail-img">
                <a href="#">
                  <img class="img-fluid" [src]="'data:image/jpeg;base64,' + cartItem.productImage" style="min-width: 96px; height: 96px" alt="" />
                </a>
              </td>
              <td class="name-pr">
                <p>{{ cartItem.productName }}</p>
              </td>
              <td class="price-pr">
                <p>{{ '$' + cartItem.productPrice }}</p>
              </td>
              <td class="quantity-box">
                <!-- Quantity input -->
                <!-- <mat-form-field> -->
                  <!-- <input matInput type="number" name="quantity" [(ngModel)]="cartItem.productQuantity" size="4" min="0"
                    step="1" class="c-input-text qty text" /> -->
                    <div class="quantity-input">
                    <input type="number" [(ngModel)]="cartItem.productQuantity" (change)="updateCartItem(cartItem.productId, cartItem.productQuantity)">
                    </div>
                       <!-- <button (click)="updateCartItem(cartItem.productId, cartItem.productQuantity)">Update</button> -->
                <!-- </mat-form-field> -->
              </td>
              <td class="total-pr">
                <p>{{ '$' + cartItem.cartTotalPrice * cartItem.productQuantity}}</p>
              </td>
              <td>
                <!-- Delete button -->
                <button mat-button (click)="deleteCartItem(cartItem.productId)" title="Delete" class="btn btn-danger custom-delete-button">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mt-3">
  <!-- Add More Products button -->
  <button class="custom-button">
    <a routerLink="/view_products" class="custom-link">
      Add More Products
    </a>
  </button> 
</div>
<div class="mt-3"></div>
<div class="container my-5" *ngIf="cartList.length > 0">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-8 col-md-7 col-sm-12">
      <h2 class="h4 text-center">Checkout Summary</h2>
      <div class="checkout-details">
        <div class="detail d-flex justify-content-between">
          <span>Sub Total</span>
          <span>{{ '$' + calculateGrandTotal() }}</span>
        </div>
        <!-- <div class="detail d-flex justify-content-between">
          <span>Tax</span>
          <span>$2</span>
        </div> -->
        <div class="detail d-flex justify-content-between">
          <span>Shipping Cost</span>
          <span>Free</span>
        </div>
        <hr />
        <div class="detail d-flex justify-content-between total">
          <span>Grand Total</span>
          <span>{{ '$' + (calculateGrandTotal()) }}</span>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center mt-3">
        <!-- Proceed to Checkout button -->
        <a (click)="payNow()" mat-button class="custom-button">
            <!-- <i class="bi bi-cart-fill me-1"></i> -->
            Proceed to Checkout
        </a>
    </div>
    
    </div>
  </div>
</div>

<!-- Include SweetAlert library -->
<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
<!-- <script>
  function showSuccessAlert(message) {
    Swal.fire({
      title: 'Success!',
      text: message,
      icon: 'success',
      confirmButtonText: 'OK'
    });
  }

  function showErrorAlert(message) {
    Swal.fire({
      title: 'Error!',
      text: message,
      icon: 'error',
      confirmButtonText: 'OK'
    });
  }
</script> -->
