/* ... existing styles ... */
.order-history{
  background-color:#ffffff;
}
.page-header {
  
  margin-bottom: 10px;
  background-color: #4682A9;
  color: white;
  height: 70px;
  text-align: center;
  padding-top: 5px;
}

.order-card {
  border: 1px solid #4682A9;
  margin: 10px 0;
  border-radius: 5px;

}

.order-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  background-color: #F6F4EB;
  height: 50px;
}

.order-product {
  font-weight: bold;
}

.order-price {
  font-weight: bold;
  text-align: center;
}

.order-expand-icon {
  font-size: 1.5em;
}

.order-details {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color:#F6F4EB ;
}

.product-image {
  max-width: 100px;
  height: auto;
  margin-right: 20px;
}

.order-quantity {
  font-size: 1.2em;
  margin-right: 20px;
}

.star-rating {
  font-size: 1.5em;
  cursor: pointer;
}

textarea {
  width: 100%;
  margin-top: 10px;
  background-color: #F6F4EB;
  padding: 5%;
}

button {
  margin-top: 10px;
  border-radius: 1%;
}
mat-card{
  background-color: #4682A9;
  padding-inline: 5%;
  margin-left: 3%;
  color: #ffffff;
}
h3{
  text-align: center;
}
.custom-button {
  background-color: #4682A9; /* Change this to your desired background color */
  color: #fff; /* Change this to your desired text color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  /* Add any other styles you want for the button */
}
/* Styles for the Upload Image button */
.custom-upload-button {
  background-color: #66adf8; /* Change this to your desired background color */
  color: #fff; /* Change this to your desired text color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 1rem;
  /* Add any other styles you want for the button */
}

/* Styles for the Submit Review button */
.custom-submit-button {
  background-color: #e7efe9; /* Change this to your desired background color */
  color: #fff; /* Change this to your desired text color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  color: black;
  /* Add any other styles you want for the button */
}

/* Add any additional button styles as needed */
