
/*
  ..................... */

  :host {
    display: flex;
    justify-content: center;
     margin: 30px 0px;

  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }
::ng-deep.mat-mdc-text-field-wrapper{
  height: 50px !important;
}
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: center;

  }
.btn1{
  padding-left: 6%;
  border-radius: 999px;
  padding-right: 6%;
  padding-top: 2%;
  padding-bottom: 2%; background-color: white;border-color: #4cc8ff;
}
.btn1:hover{
  background-color: whitesmoke;
  box-shadow: 5px 5px 5px #ccc;
}
a.router-link {
  font-family: 'Times New Roman', Times, serif; /* Replace with the font you want to use */
  font-size: 26px; /* Adjust the font size */
  color: #4682A9; /* Set the color */
  text-decoration: none; /* Remove underlines by default */
  transition: color 0.2s; /* Add a smooth color transition on hover */
}

a.router-link:hover {
  color: #1e5e8c; /* Change the color on hover */
  text-decoration: underline; /* Add underline on hover */
}