.footer {
    background-color: #020325;
    color: #fff;
    padding: 1rem;
    display: flex;
    /* position: absolute; */
    justify-content: space-between;
    align-items: baseline;
    /* margin-top: 600px; */
  }

  .footer-icons {
    display: inline-block;
    margin: 0 2%;
  }

  .company-info p {
    margin: 0;
    margin-bottom: 0.5rem;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
  }