<footer class="footer">
    
    <div class="company-info">
      <p>Address: 123 Main St, City, Country</p>
      <div class="footer-icons"><a href="#"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a></div>
      <div class="footer-icons"><a href="#"><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a></div>
      <div class="footer-icons"><a href="#"><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></a></div>
      <div class="footer-icons"><a href="#"><i class="fa-brands fa-youtube" style="color: #ffffff;"></i></a></div>
    </div>
    <div style="text-align: center ;">Copyright © 2023 Shop Smartly</div>
    <div class="footer-links">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
      <a href="#">About Us</a>
      <a href="#">Contact Us</a>
    </div> 
  </footer>