<body>
    <div class="container-xl">
        <div class="row">
            <div class="col-md-12">
                <h2><b>Products</b></h2>
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                <div class="col-sm-3" *ngFor="let item of similarProducts">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon" *ngIf="!isInWishList(item) && isLoggedIn" (click)="addToWishlist(item)">
                                            <i class="fa fa-heart-o"></i>
                                        </span>
                                          <span *ngIf="isInWishList(item) && isLoggedIn">Added in Wishlist</span>
                                          
                                        <div class="img-box">
                                            <img [src]="'data:image/jpeg;base64,' + item.product_image" class="img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>{{item.product_name}}</h4>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <p class="item-price"><del> ${{item.product_current_price}}</del> <b> ${{item.product_discount_price}}</b></p>
                                            <button routerLink="/details/{{item.product_id}}" class="btn btn-primary">Add to Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
