<mat-card style="display: flex; flex-direction: row; width: 65%; margin: 0 auto; box-shadow: 5px 5px 5px #ccc; max-height: 100vh; overflow-y: auto;">

  <!-- Image Section -->
  <mat-card-content style="width: 50%; padding: 0;">
    <img src="../../../assets/sellerSignUp.jpg" style="width: 100%; height: 100%; object-fit: cover;">
  </mat-card-content>

  <!-- Form Section -->
  <div style="width: 50%; padding: 2rem; height: 100%;">

    <mat-card-title>
      <h1 style="font-size: 1.5rem; margin-bottom: 1rem; text-align:center">Become a Seller</h1>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="singInForm" (ngSubmit)="onSubmit()" style="width: 100%; height: 100%;">

        <!-- Input Fields -->
        <div style="margin-bottom: 1rem;">
          <mat-form-field style="width: 100%;">
            <input id="userName" type="text" style="width: 100%;" formControlName="sellerName" placeholder="Seller Name*" matInput>
            <span class="text-danger"
              *ngIf="registerFormControl.sellerName.touched && registerFormControl.sellerName.errors?.['required']">
              Seller Name is required
            </span>
          </mat-form-field>
        </div>
        <div style="margin-bottom: 1rem;">
          <mat-form-field style="width: 100%;">
            <input id="email" type="email" style="width: 100%;" formControlName="sellerEmail" placeholder="Email*" matInput>
            <span class="text-danger"
              *ngIf="registerFormControl.sellerEmail.touched && registerFormControl.sellerEmail.errors?.['required']">
              Email is required
            </span>
          </mat-form-field>
        </div>
        <div style="margin-bottom: 1rem;">
          <mat-form-field style="width: 100%;">
            <input id="password" type="password" style="width: 100%;" formControlName="sellerPassword" placeholder="Password*" matInput>
            <span class="text-danger"
              *ngIf="registerFormControl.sellerPassword.touched && registerFormControl.sellerPassword.errors?.['required']">
              Password is required
            </span>
          </mat-form-field>
        </div>
        <div style="margin-bottom: 1rem;">
          <mat-form-field style="width: 100%;">
            <input id="phoneNo" type="text" style="width: 100%;" formControlName="sellerPhoneNo" placeholder="Phone No*" matInput>
            <span class="text-danger"
              *ngIf="registerFormControl.sellerPhoneNo.touched && registerFormControl.sellerPhoneNo.errors?.['required']">
              Phone no is required
            </span>
          </mat-form-field>
        </div>
        <div style="margin-bottom: 1rem;">
          <mat-form-field style="width: 100%;">
            <input id="age" type="text" style="width: 100%;" formControlName="sellerAge" placeholder="Age*" matInput>
            <span class="text-danger"
              *ngIf="registerFormControl.sellerAge.touched && registerFormControl.sellerAge.errors?.['required']">
              Age is required
            </span>
          </mat-form-field>
        </div>

        <!-- Gender Selection -->
        <div style="display: flex; width: 100%; justify-content: space-between; margin-bottom: 1rem;">
          Gender:
          <div style="display: flex; align-items: center;">
            <mat-radio-group formControlName="sellerGender">
              <mat-radio-button value="male">Male</mat-radio-button>
              <mat-radio-button value="female">Female</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <!-- Sign Up Button -->
        <div class="button" style="text-align: center;">
          <button type="submit" class="btn1" style="background-color: #4682A9; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Sign Up</button>
        </div>

        <!-- Link to Login Page -->
        <div style="text-align: center; margin-top: 1rem;">
          <a routerLink="/login" class="router-link" style="text-decoration: none; color: #4cc8ff; font-weight: bold;">Already have an account? Login here</a>
        </div>

      </form>
    </mat-card-content>
  </div>
</mat-card>
