@media (max-width: 600px) {
  /* Styles for screens with a max width of 600px (typical mobile screens) */
  mat-card {
    width: 100%;
  }
  img {
    height: auto;
    max-width: 100%;
  }
  /* Add additional mobile-specific styles here */
}