<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to ShopSmartly !!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<app-header></app-header>
<div class="home-container">
  <div class="carousel">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper top-carousel">
          <h1 style="padding-top: 1%;">Welcome to Shop Smartly</h1>
          <div style="padding-bottom: 3%;">
            <h3>Enjoy Great Deals at Your Fingertips</h3>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper top-carousel">
          <h1 style="padding-top: 1%;">Buy 1 Get 1 Free on Apparels !!</h1>
          <h3 style="padding-bottom: 3%;">only for today</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper top-carousel">
          <h1 style="padding-top: 1%;">Upto 20% Off on all Home Appliances</h1>
          <h3 style="padding-bottom: 3%;">Use the code HOMEAPPL20</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper top-carousel">
          <h1 style="padding-top: 1%;">Special Offers for our Diamond Members</h1>
          <h3 style="padding-bottom: 3%;">from 12th to 20th August</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper top-carousel">
          <h1 style="padding-top: 1%;">Back to School Offer !!</h1>
          <h3 style="padding-bottom: 3%;">Avail right now !!</h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div style="text-align: center; padding-top: 3%; padding-bottom: 2%;">
    <p style="font-size: xx-large;">Our Top Rated Products</p>
  </div>
  <div class="carousel">
    <ngb-carousel [showNavigationArrows]="false">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="product-list">
            <div class="product-card" *ngFor = "let item of data1">
              <img [src]="item.image" height="150px" width="150px">
              <h3>{{item.name}}</h3>
              <p>{{item.price}}</p>
            </div>
            <!-- <div class="product-card">
              <img src="../../assets/speaker.jpg" alt="shoes" height="150px" width="150px">
              <h3>JBL Speaker</h3>
              <p>Price: ₹2,249</p>
            </div>
            <div class="product-card">
              <img src="../../assets/iPhone.jpg" alt="shoes" height="150px" width="150px">
              <h3>iPhone 14, 256GB</h3>
              <p>Price: ₹83,999</p>
            </div>
            <div class="product-card">
              <img src="../../assets/toaster.jpg" alt="shoes" height="150px" width="150px">
              <h3>Prestige Toaster</h3>
              <p>Price: ₹799</p>
            </div> -->
          </div>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="product-list">
            <div class="product-card" *ngFor = "let item of data2">
              <img [src]="item.image" height="150px" width="150px">
              <h3>{{item.name}}</h3>
              <p>{{item.price}}</p>
            </div>
            <!-- <div class="product-card">
              <img src="../../assets/wallet.jpeg" alt="shoes" height="150px" width="150px">
              <h3>Raymond Men's Wallet</h3>
              <p>Price: ₹1,999</p>
            </div>
            <div class="product-card">
              <img src="../../assets/laptop.png" alt="shoes" height="150px" width="150px">
              <h3>HP Probook Laptop</h3>
              <p>Price: ₹49,999</p>
            </div> -->
            <div class="product-card">
              <button mat-raised-button color="primary" style="margin-top: 38%;">Show More Products</button>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div style="text-align: center; padding-top: 2%; padding-bottom: 2%;">
    <p style="font-size: xx-large;">From Your Order History</p>
  </div>
  <div class="carousel">
    <ngb-carousel [showNavigationArrows]="false">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="product-list">
            <div class="product-card" *ngFor = "let item of data1">
              <img [src]="item.image" height="150px" width="150px">
              <h3>{{item.name}}</h3>
              <p>{{item.price}}</p>
            </div>
            <!-- <div class="product-card">
              <img src="../../assets/speaker.jpg" alt="shoes" height="150px" width="150px">
              <h3>JBL Speaker</h3>
              <p>Price: ₹2,249</p>
            </div>
            <div class="product-card">
              <img src="../../assets/iPhone.jpg" alt="shoes" height="150px" width="150px">
              <h3>iPhone 14, 256GB</h3>
              <p>Price: ₹83,999</p>
            </div>
            <div class="product-card">
              <img src="../../assets/toaster.jpg" alt="shoes" height="150px" width="150px">
              <h3>Prestige Toaster</h3>
              <p>Price: ₹799</p>
            </div> -->
          </div>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="product-list">
            <div class="product-card" *ngFor = "let item of data2">
              <img [src]="item.image" height="150px" width="150px">
              <h3>{{item.name}}</h3>
              <p>{{item.price}}</p>
            </div>
            <!-- <div class="product-card">
              <img src="../../assets/wallet.jpeg" alt="shoes" height="150px" width="150px">
              <h3>Raymond Men's Wallet</h3>
              <p>Price: ₹1,999</p>
            </div>
            <div class="product-card">
              <img src="../../assets/laptop.png" alt="shoes" height="150px" width="150px">
              <h3>HP Probook Laptop</h3>
              <p>Price: ₹49,999</p>
            </div> -->
            <div class="product-card">
              <button mat-raised-button color="primary" style="margin-top: 38%;">Show More Products</button>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="brand-container">
    <div style="text-align: center; padding-top: 3%; padding-bottom: 2%; ">
      <p style="font-size: xx-large;">Shop From Our Most Popular Brands</p>
    </div>
    <div class="brand">
      <img src="../../assets/HP-logo.png" alt="HP" style="border-radius: 50%;" height="100px" width="100px">
    </div>
    <div class="brand">
      <img src="../../assets/Apple-logo.jpg" alt="Apple" style="border-radius: 50%;" height="120px" width="120px">
    </div>
    <div class="brand">
      <img src="../../assets/LG-logo.png" alt="LG" style="border-radius: 50%;" height="100px" width="100px">
    </div>
    <div class="brand">
      <img src="../../assets/Rayban-logo.jpg" alt="Rayban" style="border-radius: 50%;" height="130px" width="130px">
    </div>
    <div class="brand">
      <img src="../../assets/Reebok-logo.jpg" alt="Reebok" style="border-radius: 50%;" height="130px" width="130px">
    </div>
    <div class="brand">
      <img src="../../assets/Raymond-logo.png" alt="Raymond" style="border-radius: 50%;" height="130px" width="130px">
    </div>
    <div class="brand" style="padding-right: 0;">
      <img src="../../assets/Samsung-logo.jpeg" alt="Samsung" style="border-radius: 50%;" height="150px" width="150px">
    </div>
  </div>
</div>
<app-footer></app-footer>
</html>