<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to ShopSmartly !!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<div class="home-container">
  <div class="carousel">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper top-carousel">
          <p style="padding: 1% 0; font-size: xx-large;">Welcome to Shop Smartly !!</p>
          <h3 style="padding: 1% 0;">Discover Deals, Delight, and Distinction at Shop Smartly !!</h3>
          <h3 style="padding-bottom: 2%;">Enjoy Great Deals at Your Fingertips</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper top-carousel">
          <p style="padding: 1% 0; font-size: xx-large;">Limited Time Offer: Buy One Mobile Accessory, Get One FREE !!</p>
          <h3 style="padding: 1% 0;">Discover the Joy of Double Delights with Our Irresistible BOGO Deal !!</h3>
          <h3 style="padding-bottom: 2%;">Only for Today, Grab Your Deals Now !!</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper top-carousel">
          <p style="padding: 1% 0; font-size: xx-large;">Enjoy 20% Off on Home Appliances - Upgrade Your Space Today !!</p>
          <h3 style="padding: 1% 0;">Revamp Your Home with our Exclusive Appliance Discounts !!</h3>
          <h3 style="padding-bottom: 2%;">Use Code HOMEAPPL20</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper top-carousel">
          <p style="padding: 1% 0; font-size: xx-large;"> Exclusive Diamond Members Offer, Your VIP Access to Unprecedented Benefits !! </p>
          <h3 style="padding: 1% 0;">Unlock a World of Luxury with Our Elite Diamond Membership !!</h3>
          <h3 style="padding-bottom: 2%;">From 12th to 20th August</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper top-carousel">
          <p style="padding: 1% 0; font-size: xx-large;">Back to School Tech Bonanza – Score Big Savings on Laptops and Tablets !!</p>
          <h3 style="padding: 1% 0;">Get Ready to Excel with Our Exclusive Student Offer !!</h3>
          <h3 style="padding-bottom: 2%;">Avail Right Now !!</h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div style="text-align: center; padding-top: 3%; padding-bottom: 2%;">
    <p style="font-size: xx-large;">Our Top Rated Products</p>
    <button routerLink="/view_products" mat-raised-button style="float: right; background-color:#4682A9; color:aliceblue">See More</button>
  </div>
  <div class="carousel">
    <ngb-carousel [showNavigationArrows]="false">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="product-list">
            <div class="product-card" *ngFor="let item of itemsToShow1; let i = index">
              <a (click)="details(item.product_id)" style="cursor: pointer;">
                <div class="product-image">
                  <img [src]="'data:image/jpeg;base64,' + item.product_image" alt="{{ item.product_name }}">
                </div>
                <div class="product-details">
                  <h3 class="product-name">{{ item.product_name }}</h3>
                  <p class="product-price">${{ item.product_discount_price }}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    <!-- </ngb-carousel> -->
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="product-list">
            <div class="product-card" *ngFor="let item of itemsToShow; let i = index">
              <a (click)="details(item.product_id)" style="cursor: pointer;">
                <div class="product-image">
                  <img [src]="'data:image/jpeg;base64,' + item.product_image" alt="{{ item.product_name }}">
                </div>
                <div class="product-details">
                  <h3 class="product-name">{{ item.product_name }}</h3>
                  <p class="product-price">${{ item.product_discount_price }}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div style="text-align: center; padding-top: 2%; padding-bottom: 2%;">
    <p style="font-size: xx-large;">From Your Order History</p>
  </div>
  <div class="carousel">
    <ngb-carousel [showNavigationArrows]="false">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="product-list">
            <div class="product-card" *ngFor="let item of itemsToShow1; let i = index">
              <a (click)="details(item.product_id)" style="cursor: pointer;">
                <div class="product-image">
                  <img [src]="'data:image/jpeg;base64,' + item.product_image" alt="{{ item.product_name }}">
                </div>
                <div class="product-details">
                  <h3 class="product-name">{{ item.product_name }}</h3>
                  <p class="product-price">${{ item.product_discount_price }}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    <!-- </ngb-carousel> -->
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="product-list">
            <div class="product-card" *ngFor="let item of itemsToShow; let i = index">
              <a (click)="details(item.product_id)" style="cursor: pointer;">
                <div class="product-image">
                  <img [src]="'data:image/jpeg;base64,' + item.product_image" alt="{{ item.product_name }}">
                </div>
                <div class="product-details">
                  <h3 class="product-name">{{ item.product_name }}</h3>
                  <p class="product-price">${{ item.product_discount_price }}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="brand-container">
    <div style="text-align: center; padding-top: 3%; padding-bottom: 2%;">
      <p style="font-size: xx-large;">Shop From Our Most Popular Brands</p>
    </div>
    <div class="logo-row">
      <div class="brand">
        <a (click)="getDetailsByBrand(brandImage.alt)">
        <img #brandImage src="../../assets/Apple-logo.jpg" alt="Apple" style="border-radius: 50%;" height="120px" width="120px">
        </a>
      </div>
      <div class="brand">
        <a (click)="getDetailsByBrand(brandImage1.alt)">
        <img #brandImage1 src="../../assets/LG-logo.png" alt="LG" style="border-radius: 50%;" height="100px" width="100px">
        </a>
      </div>
      <div class="brand" style="padding-right: 0;">
        <a (click)="getDetailsByBrand(brandImage2.alt)">
        <img #brandImage2 src="../../assets/Samsung-logo.jpeg" alt="Samsung" style="border-radius: 50%;" height="150px" width="150px">
      </a>
      </div>
      
    </div>
  </div>  
</div>
<app-footer></app-footer>
</html>