<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to ShopSmartly !!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<div class="home-container">
  <div class="carousel">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper top-carousel">
          <h1 style="padding-top: 1%;">Welcome to Shop Smartly</h1>
          <div style="padding-bottom: 3%;">
            <h3>Enjoy Great Deals at Your Fingertips</h3>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper top-carousel">
          <h1 style="padding-top: 1%;">Buy 1 Get 1 Free on Apparels !!</h1>
          <h3 style="padding-bottom: 3%;">only for today</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper top-carousel">
          <h1 style="padding-top: 1%;">Upto 20% Off on all Home Appliances</h1>
          <h3 style="padding-bottom: 3%;">Use the code HOMEAPPL20</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper top-carousel">
          <h1 style="padding-top: 1%;">Special Offers for our Diamond Members</h1>
          <h3 style="padding-bottom: 3%;">from 12th to 20th August</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper top-carousel">
          <h1 style="padding-top: 1%;">Back to School Offer !!</h1>
          <h3 style="padding-bottom: 3%;">Avail right now !!</h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div style="text-align: center; padding-top: 3%; padding-bottom: 2%;">
    <p style="font-size: xx-large;">Our Top Rated Products</p>
    <button routerLink="/view_products" mat-raised-button style="float: right; background-color:#4682A9; color:aliceblue">See More</button>
  </div>
  <div class="carousel">
    <ngb-carousel [showNavigationArrows]="false">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="product-list">
            <div class="product-card" *ngFor="let item of itemsToShow1; let i = index">
              <a (click)="details(item.product_id)" style="cursor: pointer;">
                <div class="product-image">
                  <img [src]="'data:image/jpeg;base64,' + item.product_image" alt="{{ item.product_name }}">
                </div>
                <div class="product-details">
                  <h3 class="product-name">{{ item.product_name }}</h3>
                  <p class="product-price">${{ item.product_discount_price }}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    <!-- </ngb-carousel> -->
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="product-list">
            <div class="product-card" *ngFor="let item of itemsToShow; let i = index">
              <a (click)="details(item.product_id)" style="cursor: pointer;">
                <div class="product-image">
                  <img [src]="'data:image/jpeg;base64,' + item.product_image" alt="{{ item.product_name }}">
                </div>
                <div class="product-details">
                  <h3 class="product-name">{{ item.product_name }}</h3>
                  <p class="product-price">${{ item.product_discount_price }}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div style="text-align: center; padding-top: 2%; padding-bottom: 2%;">
    <p style="font-size: xx-large;">From Your Order History</p>
  </div>
  <div class="carousel">
    <ngb-carousel [showNavigationArrows]="false">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="product-list">
            <div class="product-card" *ngFor="let item of itemsToShow1; let i = index">
              <a (click)="details(item.product_id)" style="cursor: pointer;">
                <div class="product-image">
                  <img [src]="'data:image/jpeg;base64,' + item.product_image" alt="{{ item.product_name }}">
                </div>
                <div class="product-details">
                  <h3 class="product-name">{{ item.product_name }}</h3>
                  <p class="product-price">${{ item.product_discount_price }}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    <!-- </ngb-carousel> -->
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="product-list">
            <div class="product-card" *ngFor="let item of itemsToShow; let i = index">
              <a (click)="details(item.product_id)" style="cursor: pointer;">
                <div class="product-image">
                  <img [src]="'data:image/jpeg;base64,' + item.product_image" alt="{{ item.product_name }}">
                </div>
                <div class="product-details">
                  <h3 class="product-name">{{ item.product_name }}</h3>
                  <p class="product-price">${{ item.product_discount_price }}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="brand-container">
    <div style="text-align: center; padding-top: 3%; padding-bottom: 2%;">
      <p style="font-size: xx-large;">Shop From Our Most Popular Brands</p>
    </div>
    <div class="logo-row">
      <div class="brand">
        <a (click)="getDetailsByBrand(brandImage.alt)">
        <img #brandImage src="../../assets/Apple-logo.jpg" alt="Apple" style="border-radius: 50%;" height="120px" width="120px">
        </a>
      </div>
      <div class="brand">
        <a (click)="getDetailsByBrand(brandImage1.alt)">
        <img #brandImage1 src="../../assets/LG-logo.png" alt="LG" style="border-radius: 50%;" height="100px" width="100px">
        </a>
      </div>
      <div class="brand" style="padding-right: 0;">
        <a (click)="getDetailsByBrand(brandImage2.alt)">
        <img #brandImage2 src="../../assets/Samsung-logo.jpeg" alt="Samsung" style="border-radius: 50%;" height="150px" width="150px">
      </a>
      </div>
      
    </div>
  </div>  
</div>
<app-footer></app-footer>
</html>