<!-- <div style="display: flex;">

  <img src="../../../assets/Shop_Smartly_Logo_Symbol_2400x1800-removebg-preview.png" style="width: 20%; height: 20%">

  <div style="width: 100vw; height: 100vh; ">

    <div style=" position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);">
      <form [formGroup]="singInForm" style="width: 150%;" (ngSubmit)="onSubmit()">
        <div style="padding-bottom: 1rem; font-size: xx-large;font-weight: bold;">Sign Up User</div>
        <div style="padding-bottom:1rem ;">
          <input id="first-name" type="text" style="width: 100%;padding-top: 0.3rem;padding-bottom: 0.3rem;"
            formControlName="userName" placeholder="User Name">
        </div>
        <div style="padding-bottom:1rem ;">
          <input id="first-name" type="email" style="width: 100%;padding-top: 0.3rem;padding-bottom: 0.3rem;"
            formControlName="userEmail" placeholder="Email">
        </div>
        <div style="padding-bottom:1rem ;">
          <input id="first-name" type="password" style="width: 100%;padding-top: 0.3rem;padding-bottom: 0.3rem;"
            formControlName="userPassword" placeholder=" Password">
        </div>
        <div
          style="display: flex;width: 70%;justify-content: space-between;padding-top: 0.3rem;padding-bottom: 0.3rem;">
          Gender:
          <div style="display: flex;  align-items: baseline;">
            <input type="radio" id="male" name="userGender" value="male" formControlName="userGender">
            <label for="">Male</label><br>
          </div>
          <div style="display: flex;  align-items: baseline;">
            <input type="radio" id="female" name="gender" value="female" formControlName="userGender">
            <label for="female">Female</label><br>
          </div>

        </div>
        <div style="padding-bottom:1rem ;">
          <input id="first-name" type="text" style="width: 100%;padding-top: 0.3rem;padding-bottom: 0.3rem;"
            formControlName="userPhoneNo" placeholder="Phone No">
        </div>
        <div style="padding-bottom:1rem ;">
          <input id="first-name" type="text" style="width: 100%;padding-top: 0.3rem;padding-bottom: 0.3rem;"
            formControlName="userAge" placeholder="Age">
        </div>
        <div style="padding-bottom:1rem ;">
          <input id="first-name" type="text" style="width: 100%;padding-top: 0.3rem;padding-bottom: 0.3rem;"
            formControlName="addressList" placeholder="Address List">
        </div>


        <button style="padding-left: 6%;
        border-radius: 999px;
        padding-right: 6%;
        padding-top: 2%;
        padding-bottom: 2%; background-color: white;border-color: #4cc8ff;">Sign Up</button>
      </form>


    </div>
  </div>
</div> -->


<mat-card style="display: flex; flex-direction: row; width: 70%;  box-shadow: 5px 5px 5px #ccc;margin-bottom: 3rem;">

  <mat-card-content style="width: 130%; margin-top: auto; margin-bottom: auto;">
    <img src="../../../assets/signUpUser.jpg" style="width: 100%;padding: 0; height: 80%;object-fit: fill;">
  </mat-card-content>
  <div style="width: 100%; padding: 2rem;">
    <mat-card-title>
      <h1>Become a User</h1>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="singInForm" (ngSubmit)="onSubmit()" style="width: 100%;">
        <p>
          <mat-form-field style="width: 100%;">
            <input id="userName" type="text"
              style="width: 100%;padding-top: 0.3rem;padding-bottom: 0.3rem; width: 100%;" formControlName="userName"
              placeholder="User Name*" matInput>
            <span class="text-danger"
              *ngIf="registerFormControl.userName.touched && registerFormControl.userName.errors?.['required']">
              User Name is required
            </span>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field style="width: 100%;">
            <input id="first-name" type="email" style="width: 100%;padding-top: 0.3rem;padding-bottom: 0.3rem;"
              formControlName="userEmail" placeholder="Email*" matInput>
            <span class="text-danger"
              *ngIf="registerFormControl.userEmail.touched && registerFormControl.userEmail.errors?.['required']">
              Email is required
            </span>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field style="width: 100%;">
            <input id="padding" type="password" style="width: 100%;padding-top: 0.3rem;padding-bottom: 0.3rem;"
              formControlName="userPassword" placeholder=" Password*" matInput>
            <span class="text-danger"
              *ngIf="registerFormControl.userPassword.touched && registerFormControl.userPassword.errors?.['required']">
              Password is required
            </span>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field style="width: 100%;">
            <input id="phoneNo" type="text" style="width: 100%;padding-top: 0.3rem;padding-bottom: 0.3rem;"
              formControlName="userPhoneNo" placeholder="Phone No*" matInput>
            <span class="text-danger"
              *ngIf="registerFormControl.userPhoneNo.touched && registerFormControl.userPhoneNo.errors?.['required']">
              Phone No is required
            </span>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field style="width: 100%;">
            <input id="age" type="text" style="width: 100%;padding-top: 0.3rem;padding-bottom: 0.3rem;"
              formControlName="userAge" placeholder="Age*" matInput>
            <span class="text-danger"
              *ngIf="registerFormControl.userAge.touched && registerFormControl.userAge.errors?.['required']">
              Age is required
            </span>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field style="width: 100%;">
            <input id="address" type="text" style="width: 100%;padding-top: 0.3rem;padding-bottom: 0.3rem;"
              formControlName="addressList" placeholder="Address List*" matInput>
            <span class="text-danger"
              *ngIf="registerFormControl.addressList.touched && registerFormControl.addressList.errors?.['required']">
              Address is required
            </span>
          </mat-form-field>
        </p>


        <div
          style="display: flex;width: 100%;justify-content: space-between;padding-top: 0.3rem;padding-bottom: 0.3rem;">
          Gender:
          <div style="display: flex;  align-items: baseline;">
            <input type="radio" id="male" name="userGender" value="male" formControlName="userGender">
            <label for="Male">Male</label><br>
          </div>
          <div style="display: flex;  align-items: baseline;">
            <input type="radio" id="female" name="userGender" value="female" formControlName="userGender">
            <label for="female">Female</label><br>
          </div>

        </div>


        <div class="button">
          <button type="submit" class="btn1">SignUp</button>
        </div>
        <br>
        <a routerLink="/login" class="router-link">What! Come Again... Already have an Account?</a>

        <!--
              <p *ngIf="error" class="error">
                {{ error }}
              </p> -->
        <!-- <div style="    display: flex;
        justify-content: space-between;
        align-items: center;"> -->







      </form>

    </mat-card-content>

  </div>



</mat-card>
