<body>
<h2><b>Products</b></h2>
<div class="container d-flex justify-content-left mt-100">
    <div class="row">
        <!-- <div class="col-md-6"> -->
        <div class="col-md-3"
            *ngFor="let product of products2 | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
            <div class="product-wrapper mb-45 text-center">
                <div class="product-img"> <a routerLink="/details/{{product.product_id}}" data-abc="true"> <img src={{product.image}}
                            alt="{{product.product_name}}" width="270" height="326"></a> <span class="text-center"><i
                            class="fa fa-doller"></i> <del>${{product.product_current_price}}</del> <b>
                            ${{product.product_discount_price}}</b></span>
                    <div class="product-action">
                        <div class="product-action-style">
                            <div class="product-action-style"><button mat-raised-button
                                    matTooltip="Click to Add to Cart"
                                    aria-label="Button that displays a tooltip that can be programmatically disabled">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-box">
                    <div class="product-name">{{ product.product_name }}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>
<!-- <div class="container d-flex justify-content-left mt-100">
    <div class="row">
        <div class="col-md-3" *ngFor="let item of products | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
            <div class="product-wrapper mb-45 text-center">
                <div class="product-img"> <a routerLink="/details/{{item.product_id}}"> <img src={{item.image}} alt="" width="270"
                            height="326">
                        </a>
                        <span class="text-center"><i
                            class="fa fa-doller"></i>
                        <del>${{item.product_current_price}}</del> <b> ${{item.product_discount_price}}</b></span>
                    <div class="product-action">
                        <div class="product-action-style"><button mat-raised-button matTooltip="Click to Add to Cart"
                                aria-label="Button that displays a tooltip that can be programmatically disabled">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="product-box">
                    <div class="product-name">{{ item.product_name }}</div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</body>