/* Base styles */
.header {
  display: flex;
  justify-content: space-around;
  background-color: #020325;
  color: white;
  padding: 0.1rem;
  flex-wrap: nowrap;
  align-items: center;
}

.logo img {
  height: auto;
  width: 7rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: #adb0fa;
}

.nav a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  border-bottom: 2px dashed #f2f2fc;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav a:hover::after {
  opacity: 1;
}

.search-box {
  text-align: center;
  position: relative;
  padding-top: 1.3rem;
}


/* Apply styles to the search suggestion list */
.search-suggestion {
  position: absolute;
  
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
  border: 1px solid #0d0000;
  background-color: #fff;
  width: 100%;
  max-width: 300px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-top: 0.5rem;
  list-style: none;
}

.search-box:hover .search-suggestion {
  display: block;
}

.search-suggestion li {
  padding: 10px;
  border: none;
  border-top: 1px solid #ddd;
}

.search-suggestion li:first-child {
  border-top: none;
}

.search-suggestion li a {
  cursor: pointer;
  color: blueviolet;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
}

.search-suggestion li a:hover {
  background-color: #f0f0f0;
}

.example-full-width {
  width: 100%;
  max-width: 300px;
  /* padding-left: 1rem; */
}

.login-button {
  background-color: #4682A9;
  color: azure !important;
  margin-bottom: .1rem;
  /* margin-right: .5rem; */
  /* padding-left: 1rem; */
  margin-right: 1rem;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Reduce the gap between elements */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Stack items in a column for mobile */
    text-align: center; /* Center-align the items */
  }

  .logo img {
    width: 100%; /* Make the logo span the full width */
    margin-bottom: 1rem; /* Add some spacing */
  }

  .nav {
    margin-top: 1rem; /* Adjust spacing for mobile */
  }

  .right-section {
    flex-direction: column; /* Stack login button and categories in a column */
    align-items: center;
    gap: 1rem;
  }
}
.example-full-width {
  width: 80%; /* This controls the width of the input field */
  max-width: 400px; /* Adjust this value to your preference */
}
/* Add this to your component's CSS file or global styles */

.user-actions {
  display: flex;
  align-items: center;
}

.wishlist-icon {
  gap: 1rem;
  cursor: pointer;
}

.header-icon button {
  margin: 0;
}
.spacer {
  width: 20px; /* Adjust the width for the desired gap */
}
