<header class="header">
  <div class="logo">
    <a routerLink="/">
      <img src="../../assets/Shop Smartly Home Logo.png" alt="Logo">
    </a>
  </div>

  <div class="search-box" *ngIf="isLoggedIn">
    <mat-form-field appearance="fill">
      <!--  <input matInput placeholder="Search" name="search" [(ngModel)]="search"> -->
      <input matInput #searchInput (keyup)="searchProduct($event)" name="search" (blur)="hideSearch()"
        placeholder="Search" />
      <button mat-button matSuffix (click)="submitSearch(searchInput.value)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <ul class="search-suggestion" *ngIf="searchSuggestion">
      <li *ngFor="let item of searchSuggestion">
        <a (mousedown)="redirectToDetails(item.product_id)">{{item.product_name}}</a>
      </li>
    </ul>
  </div>

  <div class="nav">
    <a *ngFor="let item of allCategories" (click)="redirectoCateories(item)">{{item}}</a>
  </div>



  <div class="user-actions">
    <span class="wish-icon" *ngIf="isLoggedIn"><i class='fa fa-heart' matTooltip="Wishlist" style='color: red; font-size: 24px;'
        routerLink="/mywishlist"></i></span>
    <div class="spacer"></div> <!-- Add a spacer for gap -->
    <div class="header-icon" *ngIf="!isLoggedIn">
      <button routerLink="/login" mat-stroked-button class="login-button">Log In</button>
    </div>
    <div class="header-icon" *ngIf="isLoggedIn">
      <button mat-icon-button [matMenuTriggerFor]="userMenu" matTooltip="User Profile">
        <mat-icon>account_circle</mat-icon> <!-- Add the user profile icon -->
      </button>
      <mat-menu #userMenu="matMenu">
        <!-- Add menu items like "Profile", "Settings", etc. -->
        <button mat-menu-item routerLink="/mycart">My Cart</button>
        <button mat-menu-item routerLink="/orderhistory">My Orders</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </div>
</header>