<header class="header">
  <div class="logo">
    <a routerLink="/">
      <img src="../../assets/Shop Smartly Home Logo.png" alt="Logo">
    </a>
  </div>

  <div class="search-box">
    <mat-form-field appearance="fill" class="example-full-width">
      <!--  <input matInput placeholder="Search" name="search" [(ngModel)]="search"> -->
      <input matInput #searchInput (keyup)="searchProduct($event)" name="search" (blur)="hideSearch()" placeholder="Search For Products" />
      <button mat-button matSuffix (click)="submitSearch(searchInput.value)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <ul class="search-suggestion" *ngIf="searchSuggestion">
      <li *ngFor="let item of searchSuggestion">
          <a (mousedown)="redirectToDetails(item.product_id)">{{item.product_name}}</a>
      </li>
  </ul>
  </div>

  <div class="nav">
    <a *ngFor="let item of allCategories" (click)="redirectoCateories(item)">{{item}}</a>
  </div>

  <div class="user-actions">
    <div class="header-icon">
      <button routerLink="/login" mat-stroked-button color="primary" class="login-button">Log In</button>
    </div>
  </div>
</header>
