.header {
    background-color: #4682A9;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-icon {
    display: inline;
    /* color: #fff; */
    position: relative;
    right: 60%;
  }

  .example-form {
    border-radius: 30%;
  }
  
  .logo img {
    width: 100px;
    height: 100%;
    border-radius: 0.5%;
  }
  
  .nav a {
    color: #fff;
    display: inline;
    text-decoration: none;
    margin-right: 1px;
  }
  
  .phone-number {
    font-size: 1.2rem;
  }